services:
  client:
    build: ./client
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env
    depends_on:
      - server

  server:
    build: ./server
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: